# EUROSTAT

In this notebook I use the [eurostat](https://pypi.org/project/eurostat/) library to read data from [Eurostat API](https://ec.europa.eu/eurostat/web/main/data/web-services).

In [175]:
import eurostat
import pandas as pd

In [176]:
# get table of contents of the Eurostat database
toc_df = eurostat.get_toc_df()
print(f"Shape: {toc_df.shape}")

Shape: (7477, 7)

In [177]:
toc_df.head(3)

,title,code,type,last update of data,last table structure change,data start,data end
0,Top 5 ports - gross weight of goods handled in...,MAR_QG_QM_PWH,dataset,2023-06-29T11:00:00+0200,2023-06-29T11:00:00+0200,2005-Q1,2022-Q4
1,Top 5 ports for dry bulk- gross weight of dry ...,MAR_QG_QM_PWHB,dataset,2023-06-29T11:00:00+0200,2023-06-29T11:00:00+0200,2005-Q1,2022-Q4
2,Top 5 ports for containers - gross weight of g...,MAR_QG_QM_PWHC,dataset,2023-06-29T11:00:00+0200,2023-06-29T11:00:00+0200,2005-Q1,2022-Q4

In [178]:
def subset_with_keyword(df: pd.DataFrame, keyword: str) -> pd.DataFrame:
    """
    Get a subset of databases based on a keyword.

    Args:
        df (pd.DataFrame): A DataFrame with the list of databases (Title, Code, etc.).
        keyword (str): The keyword to use to subset the databases.

    Returns:
        DataFrame with the list of databases (Title, Code, etc.) selected based on the keyword.
    """
    return eurostat.subset_toc_df(df, keyword)


def print_titles_code(df: pd.DataFrame, filename: str) -> None:
    """
    Save in a csv file the list pairs (Title, Code) for every database in df.

    Args:
        df (pd.DataFrame): A DataFrame with the list of databases (Title, Code, etc.)
        filename (str): The name of the file to print.

    Returns:
        None
    """
    df.loc[:, ["title", "code"]].to_csv(filename, index=False)


def get_database_from_code(code: str) -> pd.DataFrame:
    """
    Download a dataset using the "code".

    Args:
        code (str): Code associate to the database to download.

    Returns:
        Dataset as a pd.DataFrame.
    """
    return eurostat.get_data_df(code, flags=False)



def get_col_names(database_code: str) -> list:
    """
    Return the name of the columns of a database using the database "code".

    Args:
        code (str): Code associate to the database to download.

    Returns:
        List of columns names.
    """
    return eurostat.get_pars(database_code)

def get_col_categories(database_code: str, col_name: str) -> dict:
    """
    Return the name of the columns of a database using the database "code".

    Args:
        code (str): Code associate to the database to download.

    Returns:
        List of columns names.
    """
    return eurostat.get_dic(database_code, col_name, frmt="dict")

In [179]:
list_subset_db = subset_with_keyword(toc_df, "migration")
print(f"Shape: {list_subset_db.shape}")

print_titles_code(list_subset_db, "data/migration_databases.csv")

Shape: (72, 7)

In [180]:
list_subset_db

,title,code,type,last update of data,last table structure change,data start,data end
155,"Assumptions for net migration by age, sex, typ...",MET_PROJ_19RANMIG,dataset,2022-12-20T23:00:00+0100,2022-12-20T23:00:00+0100,2019,2100
257,"Emigration by age group, sex and citizenship",MIGR_EMI1CTZ,dataset,2023-05-16T23:00:00+0200,2023-03-24T23:00:00+0100,1998,2021
258,Emigration by age and sex,MIGR_EMI2,dataset,2023-03-29T23:00:00+0200,2023-03-02T23:00:00+0100,1990,2021
259,"Emigration by age group, sex and country of ne...",MIGR_EMI3NXT,dataset,2023-04-13T23:00:00+0200,2023-03-29T11:00:00+0200,1998,2021
260,"Emigration by age group, sex and country of birth",MIGR_EMI4CTB,dataset,2023-05-16T23:00:00+0200,2023-03-24T23:00:00+0100,2008,2021
...,...,...,...,...,...,...,...
2199,Emigration,TPS00177,dataset,2023-05-16T23:00:00+0200,2023-05-16T23:00:00+0200,2010,2021
2704,"Assumptions for net migration by age, sex, typ...",URT_PROJ_19RANMIG,dataset,2022-12-20T23:00:00+0100,2022-12-20T23:00:00+0100,2019,2100
3192,Population change by NUTS 2 region - Crude rat...,TGS00099,dataset,2023-04-14T23:00:00+0200,2023-04-14T23:00:00+0200,2010,2021
3770,Health workforce migration - historical data (...,HLTH_RS_WKMG,dataset,2022-07-12T11:00:00+0200,2022-07-12T11:00:00+0200,2000,2021
3771,Health workforce migration,HLTH_RS_WKMG2,dataset,2023-07-12T11:00:00+0200,2023-07-12T11:00:00+0200,2000,2022

In [181]:
db_code = "MIGR_IMM6CTZ"

df_1 = get_database_from_code(db_code)
print(f"Shape: {df_1.shape}\n")
print(f"Columns: {df_1.columns}")

Shape: (96616, 20)

Columns: Index(['freq', 'citizen', 'c_birth', 'unit', 'sex', 'geo\TIME_PERIOD', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'],
      dtype='object')

In [182]:
get_col_names(db_code)

['freq', 'citizen', 'c_birth', 'unit', 'sex', 'geo']

In [183]:
get_col_categories(db_code, "sex")

{'T': 'Total',
 'M': 'Males',
 'F': 'Females',
 'DIFF': 'Absolute difference between males and females',
 'NAP': 'Not applicable',
 'NRP': 'No response',
 'UNK': 'Unknown'}

In [184]:
df_1

,freq,citizen,c_birth,unit,sex,geo\TIME_PERIOD,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,A,AD,EU27_2007_FOR,NR,F,AT,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,AD,EU27_2007_FOR,NR,F,BE,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,AD,EU27_2007_FOR,NR,F,BG,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A,AD,EU27_2007_FOR,NR,F,CH,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A,AD,EU27_2007_FOR,NR,F,DK,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96611,A,ZW,UNK,NR,T,LU,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96612,A,ZW,UNK,NR,T,NL,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96613,A,ZW,UNK,NR,T,NO,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96614,A,ZW,UNK,NR,T,SE,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96615,A,ZW,UNK,NR,T,SI,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Using URL

In [185]:
import requests

In [186]:
url = "https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/migr_imm1ctz?lang=EN"
response = requests.get(url)

if response.status_code == 200:
    json_data = response.json()
else:
    print("Failed to retrieve JSON data. Status code:", response.status_code)
    json_data = None

In [187]:
list(json_data.keys())

['version',
 'class',
 'label',
 'source',
 'updated',
 'value',
 'status',
 'id',
 'size',
 'dimension',
 'extension']

In [188]:
json_data["label"] # title

'Immigration by age group, sex and citizenship'

In [189]:
json_data["source"]

'ESTAT'

In [190]:
json_data["updated"] # last update

'2023-03-29T23:00:00+0200'

In [191]:
json_data["id"] # columns

['freq', 'citizen', 'agedef', 'age', 'unit', 'sex', 'geo', 'time']

In [192]:
json_data["size"]

[1, 289, 2, 27, 1, 3, 48, 24]

In [193]:
json_data["dimension"].keys()

dict_keys(['freq', 'citizen', 'agedef', 'age', 'unit', 'sex', 'geo', 'time'])

In [194]:
json_data["dimension"]["geo"]["category"]["label"]["DE"]

'Germany'

In [195]:
json_data["extension"]

{'lang': 'EN',
 'id': 'MIGR_IMM1CTZ',
 'agencyId': 'ESTAT',
 'version': '1.0',
 'datastructure': {'id': 'MIGR_IMM1CTZ',
  'agencyId': 'ESTAT',
  'version': '25.0'},
 'annotation': [{'type': 'DISSEMINATION_DOI_XML',
   'title': '<adms:identifier xmlns:adms="http://www.w3.org/ns/adms#" xmlns:skos="http://www.w3.org/2004/02/skos/core.html" xmlns:dct="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><adms:Identifier rdf:about="https://doi.org/10.2908/MIGR_IMM1CTZ"><skos:notation rdf:datatype="http://purl.org/spar/datacite/doi">10.2908/MIGR_IMM1CTZ</skos:notation><dct:creator rdf:resource="http://publications.europa.eu/resource/authority/corporate-body/ESTAT"/><dct:issued rdf:datatype="http://www.w3.org/2001/XMLSchema#date">2023-01-19T14:01:03</dct:issued></adms:Identifier></adms:identifier>'},
  {'type': 'DISSEMINATION_OBJECT_TYPE', 'title': 'DATASET'},
  {'type': 'ESMS_HTML',
   'title': 'Explanatory texts (metadata)',
   'href': 'https://ec.europa.eu/eurostat/cache/metadata/en/migr_immi_esms.htm'},
  {'type': 'ESMS_SDMX',
   'title': 'Explanatory texts (metadata)',
   'href': 'https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=metadata/migr_immi_esms.sdmx.zip'},
  {'type': 'OBS_COUNT', 'title': '10101572'},
  {'type': 'OBS_PERIOD_OVERALL_LATEST', 'title': '2021'},
  {'type': 'OBS_PERIOD_OVERALL_OLDEST', 'title': '1998'},
  {'type': 'SOURCE_INSTITUTIONS', 'text': 'Eurostat'},
  {'type': 'UPDATE_DATA', 'date': '2023-03-29T23:00:00+0200'},
  {'type': 'UPDATE_STRUCTURE', 'date': '2023-03-29T11:00:00+0200'}],
 'status': {'label': {'b': 'break in time series',
   'be': 'break in time series, estimated',
   'bp': 'break in time series, provisional',
   'e': 'estimated',
   'ep': 'estimated, provisional',
   'p': 'provisional'}},
 'positions-with-no-data': {'freq': [],
  'citizen': [],
  'agedef': [],
  'age': [],
  'unit': [],
  'sex': [],
  'geo': [],
  'time': []}}